:root {
    --main-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;
    --text-font-size: 14px;
    --hero-text-color: #ffffff;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196f3;
    --primary-background-color: #2f303a;
    --secondary-background-color: #f5f4fa;
    --address-text-color: rgba(255, 255, 255, 0.6);
}

body {
    font-family: var(--main-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 1px solid tomato; */
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.address {
    font-style: normal;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/*------HEADER------*/

.header {
    border-bottom: 1px solid #ececec;
}

.header .container,
.nav__list,
.contact-us {
    display: flex;
    align-items: center;
}

.nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.nav__item+.nav__item {
    margin-left: 50px;
}

.contact-us {
    margin-left: auto;
}

.contact-us__item+.contact-us__item {
    margin-left: 50px;
}

.logo {
    margin-right: 93px;
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
}

.logo--header {
    color: var(--primary-text-color);
}

.nav__link {
    font-weight: 500;
    font-size: var(--text-font-size);
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus {
    color: var(--accent-color);
    cursor: pointer;
}

.nav__link--current {
    color: var(--accent-color);
    position: relative;
}

.nav__link--current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
}

.contact-us__link {
    display: flex;
    font-weight: 500;
    color: var(--secondary-text-color);
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-us__link:hover,
.contact-us__link:focus {
    color: var(--accent-color);
    cursor: pointer;
}

.contact-us__icons {
    fill: currentColor;
    margin-right: 10px;
}


/*------HEADER------*/


/*------MAIN------*/


/* Hero */

.hero {
    padding: 200px 0;
    text-align: center;
    background-color: var(--primary-background-color);
    color: var(--hero-text-color);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/body/hero-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.hero .container {
    max-width: 696px;
}

.hero__title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: inherit;
    cursor: pointer;
}

.hero__btn {
    display: inline-block;
    padding: 10px 32px;
    border: none;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 2;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    display: block;
    min-width: 528px;
    padding: 40px;
    background: var(--hero-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.2);
}

.modal__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn:focus,
.modal__close-btn:hover {
    fill: var(--accent-color);
}

.modal__label {
    position: relative;
    display: block;
    margin-bottom: 10px;
}

.modal__title {
    display: inline-block;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.modal__description {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
    text-align: left;
}

.modal__input {
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 4px;
    padding: 6px 6px 6px 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus,
.modal__comments:focus {
    outline: 1px solid var(--accent-color);
}

.modal__input:focus+.modal__icon {
    fill: var(--accent-color);
}

.modal__icon {
    position: absolute;
    top: 29px;
    left: 13.5px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__label-comments {
    display: block;
    margin-bottom: 20px;
}

.modal__comments {
    display: block;
    width: 100%;
    padding: 12px 16px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__policy-label {
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}

.modal__checkbox {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    margin-right: 9px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__policy-check:checked+.modal__checkbox {
    border: transparent;
    box-shadow: none;
    background-color: var(--accent-color);
    background-image: url(../images/body/icons/originals/check.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.modal__policy-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.modal__policy-link {
    text-decoration-line: underline;
    color: var(--accent-color);
    cursor: pointer;
}

.modal__btn {
    display: inline-block;
    border: none;
    padding-left: 55px;
    padding-right: 55px;
}


/* Main tasks  */

.main-tasks__list {
    display: flex;
}


/* для display:flex вместо width нужно использовать flex-basis */

.main-tasks__item {
    flex-basis: calc((100% - 30) / 4);
}

.main-tasks__item+.main-tasks__item {
    margin-left: 30px;
}

.main-task__container {
    display: flex;
    height: 120px;
    background-color: var(--secondary-background-color);
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.main-tasks__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: var(--text-font-size);
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

.main-tasks__text {
    font-weight: 400;
    font-size: var(--text-font-size);
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}


/* OUR WORK */

.our-work {
    padding-top: 0;
}

.our-work__thumb {
    position: relative;
    display: flex;
}

.our-work__description {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--hero-text-color);
}

.our-work__title,
.our-team__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.our-work__list {
    display: flex;
}

.our-work__item {
    width: calc((100%-60) / 3);
}

.our-work__item+.our-work__item {
    margin-left: 30px;
}


/* OUR TEAM */

.our-team {
    background-color: var(--secondary-background-color);
}

.our-team__list {
    display: flex;
}

.our-team__item {
    background-color: var(--hero-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.our-team__item+.our-team__item {
    margin-left: 30px;
}

.our-team__container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials__item {
    display: flex;
    background-color: var(--hero-text-color);
    justify-content: center;
    align-items: center;
}

.socials__item:not(:last-child) {
    margin-right: 10px;
}

.socials__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #afb1b8;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover,
.socials__link:focus {
    background-color: var(--accent-color);
    color: var(--hero-text-color);
}

.our-team__name,
.our-team__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 10px;
}

.our-team__text {
    font-weight: 400;
    color: var(--secondary-text-color);
    margin-bottom: 16px;
}

.socials__logo {
    fill: currentColor;
}


/* OUR CLIENTS */

.our-clients__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.our-clients__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-clients__item {
    display: flex;
}

.our-clients__item+.our-clients__item {
    margin-left: 30px;
}

.our-clients__link {
    display: flex;
    width: 170px;
    height: 92px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    color: #afb1b8;
    border: 1px solid currentColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients__link:hover,
.our-clients__link:focus {
    color: var(--accent-color);
}

.our-clients__icon {
    fill: currentColor;
}


/*---PORTFOLIO----*/

.portfolio__btn-list {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.portfolio__btn {
    padding: 6px 22px;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--secondary-background-color);
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__btn:hover,
.portfolio__btn:focus {
    color: var(--hero-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__btn-current {
    background-color: var(--accent-color);
    color: var(--hero-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__btn-item {
    margin-right: 8px;
}

.portfolio__btn-item:last-child {
    margin-right: 0px;
}


/* Portfolio List */

.portfolio__list {
    display: flex;
    flex-wrap: wrap;
}


/* для display:flex вместо width нужно использовать flex-basis */


/* gap: 30px - забивка флекс-сетки на маржине 30 */

.portfolio__item {
    flex-basis: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
}

.portfolio__item:nth-child(3n) {
    margin-right: 0;
}

.portfolio__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.portfolio__thumb {
    position: relative;
    overflow: hidden;
}

.portfolio__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover .portfolio__overlay,
.portfolio__link:focus .portfolio__overlay {
    opacity: 1;
    transform: translateY(0);
}

.portfolio__thumb-description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 322px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--hero-text-color);
}

.portfolio__link {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover,
.portfolio__link:focus {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__description {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    border: 1px solid #eeeeee;
    border-top: 0;
}

.portfolio__title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.portfolio__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}


/*------FOOTER------*/

.footer {
    background-color: var(--primary-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.footer__contacts {
    margin-right: 70px;
}

.footer__logo,
.address__item .address__office {
    color: var(--hero-text-color);
}

.address__link {
    font-weight: 400;
    font-size: var(--text-font-size);
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--address-text-color);
}

.footer .logo {
    display: inline-block;
    margin-bottom: 20px;
}

.address__item+.address__item {
    margin-top: 9px;
}

.connect-us {
    width: 206px;
    height: 80px;
    margin-right: 93px;
}

.connect-us .list {
    display: flex;
    justify-content: space-between;
}

.connect-us__title,
.subscription__title {
    margin-bottom: 20px;
    font-family: var(--main-font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--hero-text-color);
}

.connect-us .socials__item {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.connect-us .socials__logo {
    fill: var(--hero-text-color);
}

.subscription {
    width: 570px;
}

.subscription__form {
    display: flex;
}

.subscription__label {
    margin-right: 12px;
}

.subscription__input {
    display: inline-block;
    width: 358px;
    color: var(--hero-text-color);
    background-color: transparent;
    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.subscription__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1, 25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.subscription__btn {
    width: 200px;
    height: 50px;
    padding: 10px 28px 10px 29px;
    border: none;
}

.subscription__btn-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--hero-text-color);
    margin-right: 10px;
}

.subscription__icon {
    fill: var(--hero-text-color);
    background-color: transparent;
}