.btn-list {
    display: flex;
    @include screen-size (mobile-only) {
        margin-bottom: 40px;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    @include screen-size (tablet) {
        margin-bottom: 30px;
        justify-content: center;
    }
    @include screen-size (desktop) {
        margin-bottom: 50px;
    }
}

.btn-list__btn {
    padding: 6px 22px;
    border: none;
    border-radius: 4px;
    @include Fonts(500, 16px, 1.62);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--secondary-background-color);
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--hero-text-color);
        background-color: var(--accent-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
    &--current {
        background-color: var(--accent-color);
        color: var(--hero-text-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.btn-list__item {
    &:not(:last-child) {
        margin-right: 8px;
    }
    @include screen-size (mobile-only) {
        &:nth-child(-n+3) {
            margin-bottom: 15px;
        }
    }
}