.logo {
    font-family: var(--secondary-font-family);
    @include Fonts(400, 24px, 1.38);
    color: var(--accent-color);
    @include screen-size (desktop) {
        font-size: 26px;
    }
    &--black {
        color: var(--primary-text-color);
    }
}