.header {
    border-bottom: 1px solid #ececec;
}

.header__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    @include screen-size (mobile-only) {
        justify-content: flex-start;
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

.header__logo {
    @include screen-size (tablet) {
        margin-right: 88px;
    }
    @include screen-size (desktop) {
        margin-right: 93px;
    }
}

@import './nav';
@import './contact-us';