    .footer {
        background-color: var(--primary-background-color);
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
    .footer .container {
        @include screen-size (tablet) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: baseline;
        }
        @include screen-size (desktop) {
            align-items: baseline;
        }
    }
    
    .footer__logo {
        color: var(--hero-text-color);
    }
    
    .footer .logo {
        display: inline-block;
        margin-bottom: 20px;
    }
    
    .footer__contacts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include screen-size(mobile-only) {
            margin-bottom: 60px;
        }
        @include screen-size(desktop) {
            margin-right: 70px;
            align-items: flex-start;
        }
    }
    
    .address__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include screen-size(not-desktop) {
            align-items: center;
        }
    }
    
    .address__link {
        font-weight: 400;
        font-size: var(--text-font-size);
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--address-text-color);
    }
    
    .address__office {
        color: var(--hero-text-color);
    }
    
    .address__item+.address__item {
        margin-top: 9px;
    }
    
    .footer__connect-us {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;
        @include screen-size(tablet) {
            margin-bottom: 0;
        }
        @include screen-size(desktop) {
            margin-right: 93px;
            align-items: flex-start;
        }
    }