.footer {
    background-color: var(--primary-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.footer__contacts {
    margin-right: 70px;
}

.footer__logo {
    color: var(--hero-text-color);
}

.footer .logo {
    display: inline-block;
    margin-bottom: 20px;
}

.footer__connect-us {
    margin-right: 93px;
}

.address__link {
    font-weight: 400;
    font-size: var(--text-font-size);
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--address-text-color);
}

.address__office {
    color: var(--hero-text-color);
}

.address__item+.address__item {
    margin-top: 9px;
}