.main-tasks {
    @include screen-size(mobile-only) {
        display: block;
    }
    @include screen-size(tablet) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}

.main-tasks__item {
    @include screen-size(mobile-only) {
        .main-tasks__item:not(:last-child) {
            margin-bottom: 30px;
        }
        .main-tasks__title {
            text-align: center;
            margin-bottom: 10px;
        }
    }
    @include screen-size(tablet) {
        flex-basis: calc((100% - 60px) / 2);
        margin: 15px;
    }
    @include screen-size(desktop) {
        flex-basis: calc((100% - 120px) / 4);
    }
}

.main-tasks__text {
    @include Fonts(400, 14px, 1.71);
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.main-tasks__container {
    @extend %FlexCentered;
    height: 120px;
    background-color: var(--secondary-background-color);
    margin-bottom: 30px;
}


/* для display:flex вместо width нужно использовать flex-basis */