.our-clients {
    @extend %FlexCentered;
    flex-wrap: wrap;
    margin: -15px;
    @include screen-size(desktop) {
        flex-wrap: nowrap;
    }
}

.our-clients__item {
    display: block;
    margin: 15px;
    @include screen-size(mobile-only) {
        flex-basis: calc((100% - 60px) / 2);
    }
    @include screen-size(tablet) {
        flex-basis: calc((100% - 90px) / 3);
    }
    @include screen-size(desktop) {
        flex-basis: calc((100% - 180px) / 6);
    }
}

.our-clients__link {
    @extend %FlexCentered;
    padding: 15px 51px;
    border-radius: 4px;
    color: #afb1b8;
    border: 1px solid currentColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @include screen-size(desktop) {
        padding: 15px 31px;
    }
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.our-clients__icon {
    fill: currentColor;
}