.our-team {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    @include screen-size(mobile-only) {
        margin: 0;
    }
}

.our-team__item {
    background-color: var(--hero-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    @include screen-size(mobile-only) {
        display: block;
        img {
            width: 450px;
            height: 460px;
        }
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    @include screen-size(tablet) {
        flex-basis: calc((100% - 60px) / 2);
        margin: 15px;
        img {
            width: 354px;
            height: 374px;
        }
    }
    @include screen-size(desktop) {
        flex-basis: calc((100% - 120px) / 4);
        margin: 15px;
        img {
            width: 270px;
            height: 260px;
        }
    }
}

.our-team__container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.our-team__title {
    @include Fonts(500, 16px, 1.19);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 10px;
}

.our-team__text {
    @include Fonts(400, 16px, 1.19);
    color: var(--secondary-text-color);
    margin-bottom: 16px;
    text-align: center;
    letter-spacing: 0.03em;
}