    .portfolio {
        display: flex;
        flex-wrap: wrap;
    }
    /* для display:flex вместо width нужно использовать flex-basis */
    /* gap: 30px - забивка флекс-сетки на маржине 30 */
    
    .portfolio__item {
        flex-basis: calc((100% - 60px) / 3);
        margin-right: 30px;
        margin-bottom: 30px;
        &:nth-child(3n) {
            margin-right: 0;
        }
        &:nth-last-child(-n + 3) {
            margin-bottom: 0;
        }
    }
    
    .portfolio__thumb {
        position: relative;
        overflow: hidden;
    }
    
    .portfolio__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(33, 150, 243, 0.9);
        opacity: 0;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
        .portfolio__link:hover &,
        .portfolio__link:focus & {
            opacity: 1;
            transform: translateY(0);
        }
    }
    
    .portfolio__thumb-description {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 322px;
        @include Fonts(400, 18px, 1.56);
        letter-spacing: 0.03em;
        color: var(--hero-text-color);
    }
    
    .portfolio__link {
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            display: block;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }
    }
    
    .portfolio__description {
        padding-top: 20px;
        padding-right: 24px;
        padding-bottom: 20px;
        padding-left: 24px;
        border: 1px solid #eeeeee;
        border-top: 0;
    }
    
    .portfolio__title {
        margin-bottom: 4px;
        @include Fonts(700, 18px, 2);
        letter-spacing: 0.06em;
        color: var(--primary-text-color);
    }
    
    .portfolio__text {
        @include Fonts(400, 16px, 1.88);
        letter-spacing: 0.03em;
        color: var(--secondary-text-color);
    }